.THIS .fields {
    padding: 3em 2em 1.5em 2em;
}
.THIS .slds-modal__container h2 {
    font-size: t(largeText);
}
.THIS input:not([type=submit]),
.THIS textarea,
.THIS select {
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: .8em;
    border: 1px solid #DDDDDD;
    padding: .3rem .2rem;
}
.THIS select {
    background: white;
}
.THIS,
.THIS label {
    color: t(darkestGray)
}
/*Submit*/
.THIS .slds-modal__footer {
    padding-right: 2em;
}
.THIS input[type="submit"] {
    border-radius: 4px;
    border: none;
    color: white;
    background: t(iccuPrimaryGreen);
    padding: .6em 1em;
}
.THIS input[type="submit"]:hover {
    background: t(iccuSecondaryGreen);
}
/*Modal*/
.THIS:focus {
    outline: none;
}
/*Hidden Field*/
.THIS .hide-me {
    display: none;
}